.contact {
    padding: 50px 25px;
    display: flex;
    flex-direction: column;
    background-color: var(--black);
    color: #ffffff;
    box-shadow: 0px 1px 1px 1px rgb(250, 249, 249);
    scroll-margin-top: 50px;
}

.contact-content {
    display: flex;
    flex-wrap: column;
    gap: 110px;
    width: 100%;
    background-color: var(--black);
    border-radius: 12px;
}

.contact-start {
    background-color: var(--black);
    padding: 25px;
    border-radius: 8px;
    margin-top: 150px;
    width: 100%;
    margin-left: 20px;
    height: 150px;
    max-width: 450px;
    color: var(--white);
    text-align: center;
    box-shadow: 0 1px 4px var(--white);
}

.contact-start-text p {
    margin: 15px 0;
    font-size: 16px;
}

.contact-content-text {
    background-color: var(--black);
    color: #ffffff;
    padding: 25px;
    border-radius: 8px;
    border: 1px solid var(--light-blue-shadow);
    flex: 1;
    min-width: 340px;
    max-width: 500px;
    box-shadow: 0 2px 6px var(--light-blue-shadow);
}

.form-contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.center-text::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 270px;
    height: 3px;
    background-color: var(--dark-orange);
}
.center-text {
    text-align: center;
    color: var(--white);
    font-size: 2rem;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    display: inline-block;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-contact label {
    font-weight: bold;
    color: #ffffff;
    font-size: 16px;
}

.form-contact input,
.form-contact textarea {
    border: 2px solid var(--dark);;
    padding: 10px;
    background-color: #dad4d4;
    color: #000000;
    transition: all 0.3s;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

.form-contact textarea {
    min-height: 120px;
    resize: vertical;
}

.form-contact input:focus,
.form-contact textarea:focus {
    border-color: #0066ff;
    outline: none;
    box-shadow: 0 0 5px var(--dark-orange);
}

.buton {
    background-color: var(--light-blue-shadow);
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s;
    width: 500px;
}

.buton:hover {
    background-color: #176fd4;
    transform: translateY(-2px);
}

@media (max-width: 768px) {
    .contact-content {
        flex-direction: column;
        align-items: center;
    }

    .contact-start {
        margin-left: 5px;
        margin-top: auto;
    }

    .contact-start,
    .contact-content-text {
        max-width: 90%;
    }

    .form-contact {
        padding: 0;
    }

    .buton {
        max-width: 100%;
    }
}

@media (max-width: 400px) {
    .contact {
        padding: 4px 5px;

    }

    .contact-start {
        margin-top: 15px;
    }

    .contact-content {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        width: 96%;
        background-color: var(--black);
        border-radius: 12px;
        justify-content: center;
    }

    .contact-start {
        width: 340px;
        padding: 2px;
    }

    .contact-content-text {
        padding: 20px 15px;
    }

    .form-contact input,
    .form-contact textarea {
        padding: 8px;
    }
}